Order Deny,Allow
Deny from all

<Files index.php>
        Order Allow,Deny
        Allow from all
</Files>

<Files main.php>
        Order Allow,Deny
        Allow from all
</Files>

<Files upload.php>
        Order Allow,Deny
        Allow from all
</Files>

<Files tinyfm-wrapper.php>
        Order Allow,Deny
        Allow from all
</Files>

<Files keyDistributor.php>
        Order Allow,Deny
        Allow from all
</Files>

<Files sphinx-admin.php>
        Order Allow,Deny
        Allow from all
</Files>

<Files sphinx-viewAnswer.php>
        Order Allow,Deny
        Allow from all
</Files>

<Files sphinx-viewAnswerAll.php>
        Order Allow,Deny
        Allow from all
</Files>

<Files sphinx-viewQuestion.php>
        Order Allow,Deny
        Allow from all
</Files>

<FilesMatch ".*\.(css|js|ico)$">
        Order Allow,Deny
        Allow from all
</FilesMatch>

Options -Indexes